.wrapper {
    color: #ecf0f1;
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading {
    font-weight: 300;
    text-transform: uppercase;
    min-width: 20rem;
  }
  
  .arrow {
    font-size: 2rem;
    cursor: pointer;
  }
  