.wrapper {
    min-height: 60rem;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    list-style: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    color: #ecf0f1;
    margin-bottom: 1rem;
  }
  
  .day {
    display: inline-block;
    width: 14.28%;
  }
  