.tag_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    padding: 20px;
  }
  
  .add_new_calendar {
    width: 354px; 
    height: 240px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc; 
    border-radius: 16px;
    cursor: pointer;
  }
  
  .add_new_calendar:hover {
    background-color: #f9f9f9; 
  }
  